<!-- section secteur -->

<div class="page-wrapper">
  <app-navbar></app-navbar>   
<section>
    <div class="section-headline text-center">
      <h2> Nos secteurs d'activité </h2>
    </div>
    
    <div id="blog" class="blog-area">
      <div class="blog-inner area-padding">
        <div class="blog-overly"></div>
        <div class="container ">
          <div class="row">
          </div>
          <div class="row">
            <!-- Start Left Blog -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog.html">
                    <img src="assets/img/blog/industriee.png" alt="">
                  </a>
                </div>
              
                <div style="text-align:center" class="blog-text">
                  <h4>
                    <a href="blog.html">Industrie</a>
                  </h4>
                  </div>
                  <div>
                    <p>
                    description secteur
                  </p>
                </div>
                
              </div>
              <!-- Start single blog -->
            </div>
            <!-- End Left Blog-->
            <!-- Start Left Blog -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog.html">
                    <img src="assets/img/blog/distributionn.png" alt="">
                  </a>
                </div>
                <div style="text-align:center" class="blog-text">
                  <h4>
                    <a href="blog.html">Distribution</a>
                  </h4>
                  </div>
                  <div>
                  <p>
                  description secteur
                  </p>
                </div>
                
              </div>
              <!-- Start single blog -->
            </div>
            <!-- End Left Blog-->
            <!-- Start Right Blog-->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog.html">
                    <img src="assets/img/blog/servicee.jpg" alt="">
                  </a>
                </div>
               
                <div  style="text-align:center" class="blog-text">
                  <h4>
                    <a href="blog.html">Service</a>
                  </h4>
                  </div>
                  <div>
                  <p>
                    description secteur
                  </p>
                </div>
                
              </div>
            </div>
            <!-- End Right Blog-->
          </div>
        </div>
      </div>
    </div>







</section>
<!-- end section secteur -->
<!-- section solution métier -->
<section>
    <div class="section-headline text-center">
      <h2> Nos solutions métiers </h2>
    </div>









</section>

<!-- jfjfjfjfjfjf -->

</div>
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
<app-mobile-nav></app-mobile-nav>
