<!-- ======= about Section ======= -->
<div class="page-wrapper">
  <app-navbar></app-navbar>
  <main class="main">
  <section id="features" class="features" data-aos="fade-up">
    <div class="container">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>A propos de nous</h2>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/about/about1.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
          <p>
            10 ans d'expérience , Dynamix Services met aujourd'hui tout son savoir-faire et son expertise durant ces
            années aux services de ses clients afin de fournir des services compatibles avec leurs besoins.
          </p>
          <p>
            Nous accompagnons de grandes entreprises non seulement à l'échelle international mais aussi à l'échelle
            internationnales dans leurs recherches de performance tel que : Quatar, Canada, France ...
          </p>


        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="assets/img/about/about2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
          <p class="fst-italic">
            Dynamix Services s'engage pour une meilleure gestion de vos données en termes de :
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Conseil.</li>
            <li><i class="bi bi-check"></i> Missions d'audit.</li>
            <li><i class="bi bi-check"></i> Support et maintenance.</li>
            <li><i class="bi bi-check"></i> Formation, Assistance technique et fonctionnelle.</li>
            <li><i class="bi bi-check"></i> Intégration des solutions ERP,CRM, GMAO, BI.</li>
            <li><i class="bi bi-check"></i> Conception et déploiement de solutions Collaboratrices.</li>
            <li><i class="bi bi-check"></i> Déploiement et optimisation des infrastructures techniques.</li>

          </ul>

        </div>
      </div>

    </div>
  </section><!-- End about Section -->

  <!-- nos solutions section -->
  <section>
    <div class="section-headline text-center">
      <h2>Nos solutions métiers</h2>
    </div>
    <div class="container py-5">
      <div class="d-flex justify-content-center">
        <div class="col-8">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="assets/img/solution/transport.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Transport Urbain</h5>
                  <p class="card-text">Parc-automobile<br>
                    Billetterie
                  </p>
                  <button type="button" href="" class="btn btn-outline-secondary">lire plus</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="assets/img/solution/logistique.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Transport Logistique</h5>
                  <p class="card-text">Gestion <br>
                    Aquaculture
                  </p>
                  <button type="button" href="" class="btn btn-outline-secondary">lire plus</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="assets/img/solution/aquaculture.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aquaculture</h5>
                  <p class="card-text">Transport Maritime Aérien <br>
                    Terrestre
                  </p>
                  <button type="button" href="" class="btn btn-outline-secondary">lire plus</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="assets/img/solution/immobilier.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Immobilier</h5>
                  <p class="card-text">Gestion Construction Vente<br>
                    Location
                  </p>
                  <button type="button" href="" class="btn btn-outline-secondary">lire plus</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- <app-footer></app-footer> -->
  <!-- end solution section-->
</div>
<app-mobile-nav></app-mobile-nav>