 <!-- ======= Header ======= -->
 <!-- <header id="nav" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
       
        <a href="index.html"><img src="assets/img/background/dynamix-logo.png" class="img-fluid" alt="logo"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#">Accueil</a></li>
          <li><a class="nav-link scrollto" href="/about">A propos de nous</a></li>
          <li><a class="nav-link scrollto" href="/reference">Références</a></li>
          <li><a class="nav-link scrollto" href="/expertise">Expertise</a></li>
          <li><a class="nav-link scrollto" href="/equipe">Equipe</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header> -->
  <!-- End Header -->

  <!-- Main CSS File -->
  <link rel="stylesheet" href="/assets/template/css/demos/demo-11.css">
  <link rel="stylesheet" href="/assets/template/css/style.css">

  <header class="header header-7">
    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
                
                <a href="index.html" class="logo">
                    <img src="assets/img/lo.png" alt="Molla Logo" width="55" height="25">
                    <!-- <h4 class="page-title">Dynamix Services</h4> -->
                </a>
            </div><!-- End .header-left -->

            <div class="header-right">

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="index.html" class="sf-with-ul">Accueil</a>

                            
                        </li>
                        <li>
                            <a routerLink="/about" class="sf-with-ul">A propos</a>

                            
                        </li>
                        <li>
                            <a href="/reference" class="sf-with-ul">Références</a>

                            
                        </li>
                        <li>
                            <a href="/expertise" class="sf-with-ul">Expertise</a>

                            
                        </li>
                        <li>
                            <a href="/equipe" class="sf-with-ul">Equipe</a>

                            
                        </li>
                        <li>
                            <a href="/contact" class="sf-with-ul">Contact</a>
                        </li></ul>
                            
                </nav><!-- End .main-nav -->
                
                <div class="header-search">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
                
                

                
            </div><!-- End .header-right -->
        </div>
    </div><!-- End .header-middle -->
</header><!-- End .header -->
