<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>
        <a href="index.html" class="logo">
            <img src="assets/img/background/dynamix-logo.png" alt="Logo" width="180" height="25" style="margin-left: 15%;">
        </a>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="index.html">Accueil</a>

                </li>
                <li>
                    <a href="/about">A propos</a>
                    
                </li>
                
                <li>
                    <a href="/reference" class="sf-with-ul">Références</a>
                </li>
                
               
               
               
                <li>
                    <a  href="/expertise" class="sf-with-ul">Expertise</a>
                </li>
                <li>
                    <!--  app-view-blogs -->
                    <a href="/equipe" class="sf-with-ul">Equipe</a>
                </li>
                <li>
                    <a  href="/contact" class="sf-with-ul">Contact</a>
                </li>

            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="/error" class="social-icon"  title="Facebook"><i
                            class="icon-facebook-f"></i></a>
            <a href="/error" class="social-icon"  title="Twitter"><i class="icon-twitter"></i></a>
            <a href="/error" class="social-icon"  title="Instagram"><i
                             class="icon-instagram"></i></a>
            <a href="/error" class="social-icon"  title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->

</div>