<!-- ======= Contact Section ======= -->
<div class="page-wrapper">
  <app-navbar></app-navbar>

  <main class="main">
    <div class="container">
      <div class="page-header page-header-big text-center" style="background-image: url('/assets/img/contact.jpg');">
        <h1 style="font-weight: bold;" class="page-title text-white">Contactez-nous</h1>
      </div><!-- End .page-header -->
    </div><!-- End .container -->
    <div class="page-content pb-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-2 mb-lg-0">
            <h2 class="title mb-1">Contact Information</h2><!-- End .title mb-2 -->
            <p class="mb-3">Si vous avez des questions ou des commentaires, veuillez nous contacter sur ce qui est toujours le moyen le plus pratique pour vous. Notre équipe amicale répondra à toutes les questions. Demandez n'importe quoi.</p>
            <div class="row">
              <div class="col-sm-7">
                <div class="contact-info">
            

                  <ul class="contact-list">
                    <li>
                      <i class="icon-map-marker"></i>
                      Pôle Industriel EL Azib
                      Bizerte-Tunisie
                    </li>
                    <li>
                      <i class="icon-phone"></i>
                      <a href="tel:#">+216 72 451 420</a>
                    </li>
                    <li>
                      <i class="icon-envelope"></i>
                      <a href="mailto:#">info@dynamix-services.com</a> 
                      
                    </li>
                    <li>
                      <i class="icon-envelope"></i>
                      <a href="mailto:#">commercial@dynamix-services.col-md-8</a> 
                    </li>
                  </ul><!-- End .contact-list -->
                </div><!-- End .contact-info -->
              </div><!-- End .col-sm-7 -->

              <div class="col-sm-5">
                <div class="contact-info">
                 

                  <ul class="contact-list">
                    <li>
                      <i class="icon-clock-o"></i>
                      <span class="text-dark"> Lundi-vendredi</span> <br>08:30am-18:00pm ET
                    </li>
                    <li>
                      <i class="icon-calendar"></i>
                      <span class="text-dark">Sunday</span> <br>11am-6pm ET
                    </li>
                  </ul><!-- End .contact-list -->
                </div><!-- End .contact-info -->
              </div><!-- End .col-sm-5 -->
            </div><!-- End .row -->
          </div><!-- End .col-lg-6 -->
          <div class="col-lg-6">
            <h2 class="title mb-1">Got Any Questions?</h2><!-- End .title mb-2 -->
            <p class="mb-2">Use the form below to get in touch with the sales team</p>

            <form action="#" class="contact-form mb-3">
              <div class="row">
                <div class="col-sm-6">
                              <label for="cname" class="sr-only">Name</label>
                  <input type="text" class="form-control" id="cname" placeholder="Name *" required>
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                              <label for="cemail" class="sr-only">Email</label>
                  <input type="email" class="form-control" id="cemail" placeholder="Email *" required>
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <div class="row">
                <div class="col-sm-6">
                              <label for="cphone" class="sr-only">Phone</label>
                  <input type="tel" class="form-control" id="cphone" placeholder="Phone">
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                              <label for="csubject" class="sr-only">Subject</label>
                  <input type="text" class="form-control" id="csubject" placeholder="Subject">
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

                      <label for="cmessage" class="sr-only">Message</label>
              <textarea class="form-control" cols="30" rows="4" id="cmessage" required placeholder="Message *"></textarea>

              <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                <span>SUBMIT</span>
              <i class="icon-long-arrow-right"></i>
              </button>
            </form><!-- End .contact-form -->
          </div><!-- End .col-lg-6 -->
        </div><!-- End .row -->

        <hr class="mt-4 mb-5">

        
      </div><!-- End .container -->
 
  </div><!-- End .page-content -->
  </main>
  <div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center" style="margin-top: -9%;"> 
              <!-- <h2>Contactez-nous</h2> -->
              <p > Si vous avez des questions ou des commentaires, veuillez nous contacter sur ce qui est toujours le
                moyen le plus pratique pour vous. Notre équipe amicale répondra à toutes les questions. Demandez
                n'importe quoi.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="bi bi-phone"></i>
                <p>
                  Tel: +216 72 451 420<br>
                  <span>Lundi-vendredi (08:30-18:00)</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="bi bi-envelope"></i>
                <p>
                  Email: info@dynamix-services.com<br>
                  <span> commercial@dynamix-services.com</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="bi bi-geo-alt"></i>
                <p>
                  Adresse: Pôle Industriel EL Azib<br>
                  <span> Bizerte-Tunisie</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Start Google Map -->
          <div class="col-md-6">
            <!-- Start Map -->
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12710.525717459584!2d9.950457094895434!3d37.2089828353553!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf37ec4408be3413e!2sDynamix%20Services!5e0!3m2!1sfr!2sus!4v1657188344351!5m2!1sfr!2sus"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade" frameborder="0" style="border:0; width: 100%; height: 290px;"
              allowfullscreen></iframe>
            <!-- End Map -->
          </div>
          <!-- End Google Map -->

          <!-- Start  contact -->
          <div class="col-md-6">
            <div class="form contact-form">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Votre message a été envoyé. Merci!</div>
                </div>
                <div class="text-center"><button type="submit">Envoyer Message</button></div>
              </form>
            </div>
          </div>
          <!-- End Left contact -->
        </div>
      </div>
    </div>
  </div><!-- End Contact Section -->
</div>
<app-mobile-nav></app-mobile-nav>
