<!-- ======= hero Section ======= -->
<div class="page-wrapper">
  <app-navbar></app-navbar>
  <!-- Carousel -->

  <div>
    <div class="carousel">
      <ul class="slides">
        <input type="radio" name="radio-buttons" id="img-1" checked />
        <li class="slide-container">
          <div class="slide-image">
            <img  src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg">
          </div>
          <div class="carousel-controls">
            <label for="img-3" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-2" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-2" />
        <li class="slide-container">
          <div class="slide-image">
            <img src="https://content.r9cdn.net/rimg/dimg/db/02/06b291e8-city-14912-171317ad83a.jpg?width=1750&height=1000&xhint=3040&yhint=2553&crop=true">
          </div>
          <div class="carousel-controls">
            <label for="img-1" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-3" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-3" />
        <li class="slide-container">
          <div class="slide-image">
            <img src="https://speakzeasy.files.wordpress.com/2015/05/twa_blogpic_timisoara-4415.jpg">
          </div>
          <div class="carousel-controls">
            <label for="img-2" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-1" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <div class="carousel-dots">
          <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
          <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
          <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
        </div>
      </ul>
    </div>
  </div>
<!-- End Carousel -->



    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Qui somme-nous ?</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single-well start-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-left">
              <div class="single-well">
                <a href="#">
                  <img src="assets/img/about/aboutus.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- single-well end-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
                <a href="/about">
                  <h4 class="sec-head">Dynamix Services</h4>
                </a>
                <p>
                  Dynamix Services est une SSII partenaire Microsoft, spécialisée dans l’intégration des ERP :
                </p>
                <ul>
                  <li>
                    <i class="bi bi-check"></i> Microsoft Dynamics NAV.
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Microsoft Dynamics 365 Business Central.
                  </li>
                  <li>
                    <i class="bi bi-check"></i> GMAO (INFOR EAM) Microsoft CRM.
                  </li>
                  <li>
                    <i class="bi bi-check"></i> la solution BI QlikView
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End col-->
        </div>
      </div>
    </div><!-- End About Section -->


    <!-- Nos valeurs section -->
    <section class="why-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="section-headline text-center">
              <h2>Nos valeurs</h2>
            </div>
            <p class="mb-5 text-center">blaaablaaaaa</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <span>01</span>
              <h4><a href="#">Compétence</a></h4>
              <p>Le savoir-faire et les compétences de nos consultants font la richesse de Dynamix et ce pourquoi nous
                sommes reconnus.
              </p>
              <img src="assets/img/background/value.png" alt="">
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <span>02</span>
              <h4><a href="#">Performance</a></h4>
              <p>La performance fait partie de l’ADN de la société. La performance individuelle et collective est le
                socle
                de la solidité de notre croissance soutenue.
              </p>
              <img src="assets/img/background/value1.png" alt="">
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <span>03</span>
              <h4><a href="#">Courage</a></h4>
              <p>S’ouvrir à de nouveaux projets, nouveaux environnements, sortir de sa zone de confort, oser être force
                de
                proposition chez le client…
              </p>
              <img src="assets/img/background/value2.png" alt="">
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <span>04</span>
              <h4><a href="#">Accomplissement</a></h4>
              <p>L’accomplissement personnel et professionnel de nos collaborateurs est notre finalité.
              </p>
              <img src="assets/img/background/value3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End nos valeurs Section -->

    <!-- Nos secteurs d'activités section -->
    <section>
      <div class="section-headline text-center">
        <h2>Nos secteurs d'activités</h2>
      </div>
      <div class="carousel__container">
        <div class="carousel__item">
          <img src="assets/img/blog/distribution.jpg" class="carousel__image">
        </div>
        <div class="carousel__item">
          <img src="assets/img/blog/industrie.jfif" class="carousel__image">
        </div>
        <div class="carousel__item">
          <img src="assets/img/blog/service.png" class="carousel__image">
        </div>
      </div>
    </section>

    <!-- Nos secteurs d'activités section -->

    <!-- ======= Devis Section ======= -->
    <div class="suscribe-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
            <div class="suscribe-text text-center">
              <h3>Obtenez des solutions rapidement</h3>
              <a class="sus-btn" href="/quote">obtenir un devis ici</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Devis Section -->

    <!-- Nos produits section -->
    <section>
      <div class="section-headline text-center">
        <h2>Nos produits</h2>
      </div>

    </section>
    <!-- End nos produits métiers -->

    <!-- Pourquoi nous choisir section -->
    <section>
      <div class="section-headline text-center">
        <h2> Pourquoi nous choisir ?</h2>
      </div>

    </section>

 
</div>

<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
<!-- end  Pourquoi nous choisir section   -->

<app-mobile-nav></app-mobile-nav>